<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <h1 class="text-center">Demo Article</h1>

    <div class="mx-auto w-75">
        <h6 class="text-center">Written by Demo Author</h6>

        <img src="images/gandhi.jpg" alt="Gandhi from Civilization IV" class="mx-auto d-block w-50"><br>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a nulla aliquet, porttitor tellus id,
            venenatis purus. In ac tincidunt dolor. Proin at enim urna. Cras placerat eget orci vel accumsan. Mauris
            quam leo, consequat ut ullamcorper ac, volutpat non purus. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Suspendisse eget accumsan ex. Integer semper nulla vitae lorem ullamcorper, aliquet
            ultrices enim porta. Aenean at tempor est, a bibendum orci.</p>

        <p>Donec vestibulum viverra erat nec placerat. Donec venenatis nunc at facilisis laoreet. Donec cursus augue
            sit amet velit pulvinar, vitae venenatis lorem varius. Maecenas sodales faucibus neque, eu egestas dolor
            molestie et. Nullam sagittis sollicitudin elit et auctor. Donec feugiat dignissim posuere. Mauris bibendum
            mi ac orci vehicula feugiat. Aliquam erat volutpat. Donec ut dictum dolor. Phasellus ut risus vel orci
            auctor facilisis. Mauris gravida hendrerit mattis.</p>

        <p>Vestibulum id massa luctus, interdum risus ut, maximus libero. Cras aliquet turpis sed posuere viverra.
            Nullam aliquet id ante a congue. Fusce nec purus ullamcorper, porta augue in, porttitor enim. Nam iaculis
            tortor vitae magna ullamcorper  scelerisque. Cras luctus eros sit amet elit faucibus tincidunt. Aliquam
            erat volutpat. Quisque eleifend pharetra accumsan. Sed vestibulum ultricies diam eu ornare. Donec porta
            vulputate sapien vitae laoreet. Fusce hendrerit eget mauris et mollis. Sed turpis tellus, consectetur at
            consequat et, vulputate ac arcu. Phasellus elit nisi, mollis non condimentum consequat, ullamcorper nec
            est.</p>

        <p>Nullam non elementum dui, ac auctor arcu. Aliquam erat volutpat. In nec ullamcorper tellus. Vivamus at ante
            nibh. Donec elementum feugiat purus vitae vehicula. Ut eget convallis felis. Nullam neque lacus, convallis
            non varius cursus, rhoncus ut ante. Donec porttitor arcu quis dapibus accumsan.</p>

        <p>Vestibulum accumsan elit nec nisi congue, in fermentum justo laoreet. Nam quis aliquet arcu, sed molestie
            purus. Nullam ac semper arcu. Vivamus sollicitudin enim at sagittis bibendum. Quisque varius finibus
            vulputate. Donec sit amet libero sit amet nisl convallis vulputate ac aliquet nisl. Quisque nec felis at
            ex auctor tempus et nec lectus. Maecenas tincidunt porttitor vestibulum.</p>
    </div>

    <!-- JavaScript for the Bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>