<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo Form</title>
</head>
<body>
    <h1>Demo Form</h1>

    <form method="post" action="#">
        <label>
            Title:
            <input type="text" name="title">
        </label>
        <label>
            Author:
            <input type="text" name="author">
        </label>
        <label>
            Date:
            <input type="text" name="date">
        </label>
        <label>
            Text:
            <input type="text" name="text">
        </label>
        <label>
            Picture:
            <input type="text" name="picture">
        </label>
        <label>
            Tag:
            <input type="text" name="tag">
        </label>
        <label>
            Is Trending:
            <input type="number" name="trending">
        </label>
        <label>
            Is Recent:
            <input type="number" name="recent">
        </label>
        <label>
            Region:
            <input type="text" name="region">
        </label>
        <label>
            View Count:
            <input type="number" name="viewCount">
        </label>

        <input type="submit" value="Submit">
    </form>
</body>
</html>